/*
    ===============================================================
    App.css
    Styling for RostersGG Application
    ___________________________________________

    Styling Notes:
        - Notes will go here

    ___________________________________________
    Table of Contents
    ______________________________
      1) Global Styling Rules
        1.1) Universal Background Colors
        1.2) Universal Text Colors
        1.3) Universal Text Styles
      2) Dashboard Styling
        2.1) Dashboard SideBar Styling
        2.2) Dashboard Content Styling
      3) Text Page (Terms, Privacy Policy) Styling
      4) Navbar Styling
      5) Footer Styling
      6) Landing Page Styling
      7) Viewing Display Styling
      8) Form Styling
    ___________________________________________
    ===============================================================
*/




/*_____________________________________

    GLOBAL STYLING RULES

_______________________________________
*/
body {
    color: #ffffff;
    background: #ECEEEF;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
.app-bg {
    height: 100%;
    margin-bottom: -3rem;
}
.page-container {
    position: relative;
    min-height: 100vh;
}
.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
.extra-margin-bottom { 
    margin-bottom: 50px;
}
.full-height {
    height: 100%;
}
.filler-sm { min-height: 30px; }
.filler-md { min-height: 65px; }
.filler-lg { min-height: 100px; }
.table-container {
    overflow-x: auto;
}


/* 
    BACKGROUND COLORS
*/
.primary-bg-green { background: #33D9B2 !important; }
.secondary-bg-green { background: #218C74 !important; }
.tertiary-bg-green { background: #1d7562 !important; }

.primary-light-bg { background: #ffffff !important; }
.secondary-light-bg { background: #ECEEEF !important; }
.tertiary-light-bg { background: #D8D8D8 !important; }

.primary-darkblue-bg { background: #34495E !important; }
.secondary-darkblue-bg { background: #2C3E50 !important; }

.primary-dark-bg { background: #171817 !important; }
.secondary-dark-bg { background: #3a3b3b !important; }


/* 
    TEXT COLORS
*/
.primary-text-green { color: #33d9b2; }
.primary-text-darkblue { color: #34495E; }
.filler-text { color: #909193; }
.red-text { color: #ff5252; }


/* 
    TEXT STYLING
*/
.bold-text { font-weight: bold; }
.italic-text { font-style: italic; }




/*_____________________________________

    DASHBOARD RELATED STYLING

_______________________________________
*/
.dashboard-container {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

    /*
        Dashboard Header-related styling
    */
    .dashboard-container .dashboard-header {
        display: flex;
        justify-content: center;
        background: #ffffff;
        max-height: 64px;
        height: 64px;
        min-height: 64px;
        box-shadow: 0px 5px 10px #D8D8D8;
    }
    .dashboard-container .header-logo-text {
        font-weight: bold;
    }
    .dashboard-container .beta-text {
        font-size: 12px;
        font-weight: normal;
    }

    /*
        Dashboard Content-related styling
    */
    .dashboard-container .content {
        background: #ECEEEF;
        height: 100%;
        width: 100%;
        padding-left: 64px !important;
    }
        .dashboard-container .content .display-box {
            margin: 1rem;
        }

            /* Event Card */
            .dashboard-container .content .display-box .event-card {
                color: #2C3E50;
                background: #ffffff;
                padding: 1rem;
                border: 1px solid #D8D8D8;
                width: 100%;
                padding-left: 3rem;
                padding-right: 3rem;
            }
                .dashboard-container .content .display-box .event-card h5{
                    font-weight: bold;
                }
                .dashboard-container .content .display-box .event-card hr{
                    margin-left: -3rem;
                    margin-right: -3rem;
                }
                .dashboard-container .content .display-box .event-card p{
                    margin:0;
                    
                }

            /* Title Box */
            .dashboard-container .content .display-box .title-box {
                color: #ffffff;
                background: #34495E;
                padding: 1rem;
                border-radius: 8px;
                box-shadow: 0px 5px 10px #D8D8D8;
            }
            .dashboard-container .content .display-box .title-box h5 {
                color: #ffffff;
                font-weight: 500;
                margin-bottom: 0;
            }

            /* Display Box .box (Content) */
            .dashboard-container .content .display-box .box {
                color: #2C3E50;
                background: #ffffff;
                padding: 1rem;
                box-shadow: 0px 5px 10px #D8D8D8;
                border-radius: 8px;
            }

            /* Roster View Related */
            .dashboard-container .content .display-box .roster-info {
                margin: 2rem 0;
            }
            .dashboard-container .content .display-box .roster-description {
                margin: 2rem 0 0 0;
            }
            
            .dashboard-container .content .display-box .btn {        
                font-size: 16px;
                font-weight: 500;
                background: #33D9B2;
                min-width: 60px;
                border: none;
            }
            .dashboard-container .content .display-box .btn-accept {        
                font-size: 0.75rem;
                font-weight: 500;
                background: #33D9B2;
                min-width: 60px;
                border-radius: 16px;
                border: none;
                margin: -0.75px 0.5rem -0.75px 0px;
            }
            .dashboard-container .content .display-box .btn-decline {        
                font-size: 0.75rem;
                font-weight: 500;
                color: #33D9B2;
                background: #ffffff;
                min-width: 60px;
                border-radius: 16px;
                border: 1px solid #33D9B2;
                margin: -0.75px 0.5rem -0.75px 0px;
            }
            .dashboard-container .content .display-box .btn:hover, .dashboard-container .content .display-box .btn:focus {
                background: #218C74;
                outline: none !important;
            }
            .dashboard-container .content .btn:active {
                background: #1d7562;
                box-shadow: none !important;
            }
            .dashboard-container .content .display-box h2 {
                color: #ffffff;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 0;
            }
            .dashboard-container .content .display-box h3 {
                color: #2C3E50;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 1rem;
            }
            .dashboard-container .content .display-box h5 {
                color: #2C3E50;
                font-weight: 500;
                margin-bottom: 0;
            }
            .dashboard-container .content .display-box p {
                margin: 0;
            }
            .dashboard-container .content .display-box a {
                color: #33d9b2;
                text-decoration: none;
                margin-right: 15px;
            }	
            .dashboard-container .content .display-box a:hover {
                color: #218C74;
            }
            .dashboard-container .content .display-box table {
                color: #2C3E50;
                background: #ffffff;
            }
            .dashboard-container .content .display-box thead th {
                border-bottom: 1px solid #D8D8D8;
                border-left: none;
                border-right: none;
                border-top: none
            }
            .dashboard-container .content .display-box thead tr {
                background: #ffffff;
            }
            .dashboard-container .content .display-box th {
                border-top: none;
            }
            .dashboard-container .content .display-box td {
                padding: 0.25rem 0.75rem;
                border-top: none;
            }



/*_____________________________________

    TEXT PAGE RELATED STYLING

_______________________________________
*/
.text-page-container {
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: #2C3E50;
    max-width: 800px;
    width: 90%;
}
    .text-page-container h2 {
        font-weight: 700;
    }
    .text-page-container h3 {
        font-weight: 500;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

.not-found {
    box-shadow: #2C3E50;
}
    .text-page-container h1 {
        font-weight: 800;
    }
    .text-page-container h3 {
        font-weight: 500;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }




/*_____________________________________

    FOOTER RELATED STYLING

_______________________________________
*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 6499;
}
.footer-bottom {
    background: #ffffff;
    color: #2C3E50;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 2.5rem;            /* Footer height */
    width: 100%;
    bottom: 0;
    z-index: 6500;
    border-top: 1px solid #D8D8D8;
}
    .footer-bottom a {
        color: #2C3E50;
        margin-right: 1.5rem;
    }
    .footer-bottom p {
        margin: 0px;
    }



/*_____________________________________

    LANDING PAGE RELATED STYLING

_______________________________________
*/

.landing-page-display {
    width: 100%;
}
    .landing-page-display .landing-navbar {
        background: #171817;
        color: #5b5f5f !important;
        min-height: 72px;
    }
        .landing-page-display .landing-navbar-brand {
            color: #5b5f5f !important;
            font-weight: 700;
        }
            .landing-page-display .landing-navbar-brand:hover {
                color: #7a8383 !important;
            }
        .landing-page-display .landing-navbar-nav {
            color: #5b5f5f !important;
        }
            .landing-page-display .landing-navbar-nav:hover {
                color: #7a8383 !important;
            }
        .landing-page-display .beta-text {
            color: #7a8383 !important;
            font-size: 10px;
            font-weight: normal;
        }
    .landing-page-display .header {
        justify-content: center;
        background: #171817;
        padding: 200px 0;
    }  
        .landing-page-display .header .display {
            width: 90%;
            max-width: 920px;
            margin: 0 auto;
            padding: 2rem 0;
        }
        .landing-page-display .header .content {
            color: #ECEEEF;
            padding: 2rem;
        }
            .landing-page-display .header .content h5 {
                text-align: center;
                font-size: 14px;
                color: #33D9B2;
                margin: 0 auto;
            }
            .landing-page-display .header .content h2 {
                text-align: center;
                font-size: 48px;
                font-weight: 800;
                margin: 1.5rem auto;
            }
            .landing-page-display .header .content h4 {
                text-align: center;
                font-size: 18px;
                margin: 0 auto;
                color: #95A5A6;
            }
            .landing-page-display .header .content .button-div {
                display: flex;
                justify-content: center;
            }
            .landing-page-display .header .content .register-button {
                font-size: 16px;
                font-weight: 500;
                margin-top: 2rem;
                color: #ffffff;
                background: #33d9b2;
                border: 0;
                border-radius: 16px;
                padding: 0.5rem 1.25rem;
            }
            .landing-page-display .header .content .register-button:hover, .landing-page-display .header .content .register-button:focus {
                background: #218C74;
                outline: none !important;
            }
            .landing-page-display .header .content .register-button:active {
                background: #1d7562;
                box-shadow: none !important;
            }


    .landing-page-display .section-1 {
        display: flex;
        justify-content: center;
        background: #ffffff;
        padding-bottom: 100px;
    }  
        .landing-page-display .section-1 .display {
            width: 90%;
            max-width: 920px;
            margin: 0 auto;
            padding: 0;
        }
        .landing-page-display .section-1 .content {
            color: #2C3E50;
        }
            .landing-page-display .section-1 .content .text-area {
                padding-top: 100px;
            }
            .landing-page-display .section-1 .content .right-align {
                text-align: right;
            }
            .landing-page-display .section-1 .content h3 {
                font-weight: 700;
                margin: 0 auto;
            }
            .landing-page-display .section-1 .content h4 {
                font-weight: 300;
                margin: 1rem auto;
                color: #34495E;
            }

    .landing-page-display .section-2 {
        display: flex;
        justify-content: center;
        background: #33d9b2;
    }  
        .landing-page-display .section-2 .display {
            width: 60%;
            max-width: 920px;
            padding: 4rem 0;
        }
        .landing-page-display .section-2 .content {
            color: #2C3E50
        }
            .landing-page-display .section-2 .content h3 {
                font-weight: 700;
                text-align: center;
                margin-bottom: 1rem;
            }
            .landing-page-display .section-2 .content h4 {
                font-weight: 300;
                font-size: 16px;
                text-align: center;
            }
            



/*_____________________________________

    VIEWING DISPLAY RELATED STYLING

_______________________________________
*/
.viewing-display-box {
    margin: 1.5rem;
}
    .viewing-display-box .display-content {
        color: #2C3E50;
        background: #ffffff;
        padding: 1.5rem;
        border-radius: 16px;
        box-shadow: 0px 5px 10px #D8D8D8;
    }
    .viewing-display-box .btn {        
        font-size: 16px;
        font-weight: bold;
        background: #33D9B2;
        min-width: 120px;
        border: none;
    }
    .viewing-display-box .btn-primary {        
        font-size: 0.75rem;
        font-weight: bold;
        background: #33D9B2;
        min-width: 60px;
        border-radius: 16px;
        border: none;
        margin: -0.75px 0.5rem -0.75px 0px;
    }
    .viewing-display-box .btn-secondary {        
        font-size: 0.75rem;
        font-weight: bold;
        color: #33D9B2;
        background: #ffffff;
        min-width: 60px;
        border-radius: 16px;
        border: 1px solid #33D9B2;
        margin: -0.75px 0.5rem -0.75px 0px;
    }
    .viewing-display-box .btn:hover, .viewing-display-box .btn:focus {
        background: #218C74;
        outline: none !important;
    }
    .viewing-display-box .btn:active {
        background: #1d7562;
        box-shadow: none !important;
    }
    .viewing-display-box h3 {
        color: #2C3E50;
        font-weight: bold;
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
    .viewing-display-box h4 {
        color: #2C3E50;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
    .viewing-display-box h5 {
        color: #2C3E50;
        font-weight: bold;
        margin-bottom: 0;
    }
    .viewing-display-box p {
        margin: 0;
    }
    .viewing-display-box hr {
        border-top: 1px solid #95A5A6;
        margin-top: 1rem;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    .viewing-display-box a {
        color: #33d9b2;
        text-decoration: none;
        margin-right: 15px;
    }	
    .viewing-display-box a:hover {
        color: #218C74;
    }
    .viewing-display-box table {
        color: #2C3E50;
        background: #ffffff;
    }
    .viewing-display-box thead th {
        border-bottom: 3px solid #95A5A6;
        border-left: 1px solid #95A5A6;
        border-right: 1px solid #95A5A6;
    }
    .viewing-display-box thead tr {
        background: #ffffff;
    }
    .viewing-display-box th {
        border-top: 1px solid #95A5A6;
    }
    .viewing-display-box td {
        border-top: 1px solid #95A5A6;
    }



/*_____________________________________

    FORM RELATED STYLING

_______________________________________
*/
.form-control {
    min-height: 41px;
    box-shadow: none;   
    border: none;
    background: #ffffff;
}
.form-control:focus {
    border-color: #218c74;
}
.form-control:active {
    border: 1px solid #218c74;
}
.form-control, .btn {        
    border-radius: 16px;
}

.react-datepicker-ignore-onclickoutside {
    min-height: 41px;
    box-shadow: none;   
    border: none;
    background: #ffffff;
    width: 100%;
    border-radius: 16px;
}
.react-datepicker-ignore-onclickoutside:focus {
    border-color: #218c74;
}

.react-datepicker__input-container {
    min-height: 41px;
    box-shadow: none;   
    border: none;
    background: #ffffff;
    width: 100%;
    border-radius: 16px;
}
.react-datepicker__input-container {
    border-color: #218c74;
}


.react-datepicker-wrapper {
    display: block;
    min-height: 41px;
    box-shadow: none;   
    border: none;
    background: #ffffff;
    width: 100%;
    border-radius: 16px;
}

.form-box {
    width: 100%;
}
    .form-box .display-info {
        color: #ffffff;
        border-radius: 8px;
        background: #2C3E50;
        padding: 1rem;
        box-shadow: 0px 5px 10px #D8D8D8;
    }
    .form-box form, .form-box .player-list {
        color: #ffffff;
        border-radius: 8px;
        background: #2C3E50;
        padding: 1rem;
        box-shadow: 0px 5px 10px #D8D8D8;
    }
    .form-box .btn-primary {        
        font-size: 0.75rem;
        font-weight: 500;
        background: #33D9B2;
        min-width: 60px;
        border-radius: 16px;
        border: none;
        margin: -0.75px 0.5rem -0.75px 0px;
    }
    .form-box .btn-secondary {        
        font-size: 0.75rem;
        font-weight: 500;
        color: #33D9B2;
        background: #ffffff;
        min-width: 60px;
        border-radius: 16px;
        border: 1px solid #33D9B2;
        margin: -0.75px 0.5rem -0.75px 0px;
    }
    .form-box .player-list table {
        color: #ffffff;
        background: #2C3E50;
    }
    .form-box .player-list thead th {
        border-bottom: 3px solid #95A5A6;
        border-left: 1px solid #95A5A6;
        border-right: 1px solid #95A5A6;
    }
    .form-box .player-list a {
        color: #33d9b2;
        text-decoration: none;
        margin-right: 1rem;
    }	
    .form-box .player-list a:hover {
        color: #218C74;
    }
    .form-box h3 {
        color: #ffffff;
        font-weight: 700;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    .form-box .form-group {
        margin-bottom: 20px;
    }
    .form-box label {
        font-weight: normal;
        font-size: 13px;
    }
    .form-box .btn {        
        font-size: 16px;
        font-weight: 500;
        background: #33d9b2;
        border: none;
    }
    .form-box .btn:hover, .form-box .btn:focus {
        background: #218c74;
        outline: none !important;
    }
    .form-box .btn:active {
        background: #218c74;
        outline: none !important;
        box-shadow: none;
    }
    .form-box a {
        color: #ECF0F1;
        text-decoration: underline;
    }
    .form-box a:hover {
        color: #218c74;
        text-decoration: none;
    }
    .form-box form a {
        color: #33d9b2;
        text-decoration: none;
    }	
    .form-box form a:hover {
        color: #218c74;
        text-decoration: none;
    }
