body {
    color: #fff;
    background: #4c535d;
    font-family: 'Roboto', sans-serif;
}
.app-bg {
    background: #264653;
}

.navbar-spec {
    background: #fffffc;
}
.navbar-brand {
    font-weight: bold;
    color: #264653 !important;
}

.display-box {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}
.display-box div {
    color: #264653;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fffffc;
    padding: 30px;
}
.form-box h2 {
    color: #264653 !important;
    font-weight: bold !important;
    margin-top: 0;
}

.form-control {
    min-height: 41px;
    box-shadow: none;   
    border-color: #e5e5e5;
}
.form-control:focus {
    border-color: #2a9d8f;
}
.form-control, .btn {        
    border-radius: 3px;
}    
.form-box {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}	
.form-box form {
    color: #8d99ae;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.form-box h2 {
    color: #264653;
    font-weight: bold;
    margin-top: 0;
}
.form-box hr {
    margin: 0 -30px 20px;
}
.form-box .form-group {
    margin-bottom: 20px;
}
.form-box label {
    font-weight: normal;
    font-size: 13px;
}
.form-box .btn {        
    font-size: 16px;
    font-weight: bold;
    background: #2a9d8f;
    border: none;
    min-width: 140px;
}
.form-box .btn:hover, .form-box .btn:focus {
    background: #264653;
    outline: none !important;
}
.form-box a {
    color: #fff;
    text-decoration: underline;
}
.form-box a:hover {
    text-decoration: none;
}
.form-box form a {
    color: #2a9d8f;
    text-decoration: none;
}	
.form-box form a:hover {
    text-decoration: underline;
}
.container {
    margin-top: 150px;
}
.red-text {
    color: red  ;
}
.name-lable {
  text-decoration: underline;
  color: pink;
}