body {
    color: #fffffc;
    background: #264653;
    font-family: 'Roboto', sans-serif;
}
.app-bg {
    background: #264653;
    height: 100%;
}
.fluid-container {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.navbar-spec {
    background: #fffffc;
}
.navbar-brand {
    font-weight: bold;
    color: #264653 !important;
}

.footer-spec {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fffffc;
    background: #262626;
    margin-top: 1rem;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer-spec p{
    margin: 0px;
}

.roster-display-box {
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
}
.roster-display-box div {
    color: #264653;
    border-radius: 5px;
    margin-bottom: 15px;
    background: #fffffc;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.roster-display-box .btn {        
    font-size: 16px;
    font-weight: bold;
    background: #2a9d8f;
    border: none;
    min-width: 120px;
}
.roster-display-box .btn:hover, .roster-display-box .btn:focus {
    background: #264653;
    outline: none !important;
}
.roster-display-box h2 {
    color: #264653;
    font-weight: bold;
    margin-top: 0;
}

.userinfo-display-box {
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
}
.userinfo-display-box div {
    color: #264653;
    border-radius: 5px;
    margin-bottom: 15px;
    background: #fffffc;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.userinfo-display-box hr {
    margin-top: 0px;
}
.userinfo-display-box .btn {        
    font-size: 16px;
    font-weight: bold;
    background: #2a9d8f;
    border: none;
    min-width: 120px;
}
.userinfo-display-box .btn:hover, .userinfo-display-box .btn:focus {
    background: #264653;
    outline: none !important;
}
.userinfo-display-box h2 {
    color: #264653;
    font-weight: bold;
    margin-top: 0;
}

.userinfo-thin-display-box{
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
}
.userinfo-thin-display-box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #264653;
    border-radius: 5px;
    background: #fffffc;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.userinfo-thin-display-box p {
    margin-bottom: 0px;
}
.userinfo-thin-display-box .btn {        
    font-size: 16px;
    font-weight: bold;
    background: #2a9d8f;
    border: none;
    min-width: 120px;
}
.userinfo-thin-display-box .btn:hover, .userinfo-display-box .btn:focus {
    background: #264653;
    outline: none !important;
}

.form-control {
    min-height: 41px;
    box-shadow: none;   
    border-color: #e5e5e5;
    background: #fffffc;
}
.form-control:focus {
    border-color: #2a9d8f;
}
.form-control, .btn {        
    border-radius: 5px;
}    
.form-box {
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
}	
.form-box form {
    color: #8d99ae;
    border-radius: 5px;
    margin-bottom: 15px;
    background: #fffffc;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.form-box h2 {
    color: #264653;
    font-weight: bold;
    margin-top: 0;
}
.form-box hr {
    margin: 0 -30px 20px;
}
.form-box .form-group {
    margin-bottom: 20px;
}
.form-box label {
    font-weight: normal;
    font-size: 13px;
}
.form-box .btn {        
    font-size: 16px;
    font-weight: bold;
    background: #2a9d8f;
    border: none;
    min-width: 140px;
}
.form-box .btn:hover, .form-box .btn:focus {
    background: #264653;
    outline: none !important;
}
.form-box a {
    color: #fffffc;
    text-decoration: underline;
}
.form-box a:hover {
    text-decoration: none;
}
.form-box form a {
    color: #2a9d8f;
    text-decoration: none;
}	
.form-box form a:hover {
    text-decoration: underline;
}
.red-text {
    color: red  ;
}
.name-lable {
    text-decoration: underline;
    color: pink;
}